<!DOCTYPE html>
<html>
    <head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Recipes Anywhere</title>
        <link rel="stylesheet" type="text/css" href="/main.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Merienda&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css?family=Courgette&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css?family=Italianno&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    </head>
    <body>