<!DOCTYPE html>
<html>
    <head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Recipes Anywhere</title>
        <link rel="stylesheet" type="text/css" href="/main.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Merienda&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css?family=Courgette&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css?family=Italianno&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    </head>
    <body>
		    <section class = "container">
       <nav class = "navbar navbar-expand-lg navbar-light bg-transparent" style="text-align: center;   border-top-left-radius: 20% 50%;   border-top-right-radius: 20% 50%; font-family:italianno ;">
           <a  class = "navbar-brand" href="#"><span style="color: #fcc203;">Recipe</span> Anywhere</a> 
       </nav>
       <hr style="padding: 0; margin: 0;">

       <nav class = "navbar navbar-expand-md navbar-light bg-transparent" style="text-align: center;font-family: merienda; margin-bottom: 15px;">
       
        <button class="navbar-toggler toggler-example" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1"
        aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation"><span class="dark-blue-text"><i
            class="fa fa-bars fa-1x"></i></span></button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent1">
        <ul class = "navbar-nav">
          <a style="color:#2d2e27;" href="/recipes"> <li  class = "nav-item">Home</li></a> 
          <a style="color:#2d2e27;" href="#"> <li  class = "nav-item">About Us</li></a> 
          <a style="color:#2d2e27;" href="#"> <li  class = "nav-item">Our Recipes</li></a> 
          <a style="color:#2d2e27;" href="#"> <li  class = "nav-item">Party Recipes</li></a> 
          <a style="color:#2d2e27;" href="#"> <li  class = "nav-item">Blog</li></a> 
          <a style="color:#2d2e27;" href="/recipes/new"> <li  class = "nav-item">Add Recipes</li></a> 
        </ul>
        </div>
    </nav>