<%- include("partials/header") %>

<form action="/recipes" method="POST" style="text-align:center;margin-top:20px;">
	<h1>
		New Recipe
	</h1>
	<input style="margin-bottom:15px;border-radius:25px; border: 2px solid #fcc203; padding: 15px;  width: 350px;" type = "text" name = "recipe[title]" placeholder = "title" required><br>
	<input style="margin-bottom:15px;border-radius:25px; border: 2px solid #fcc203; padding: 15px;  width: 350px;" type = "text" name = "recipe[image]" placeholder = "image url" required><br>
	<input style="margin-bottom:15px;border-radius:25px; border: 2px solid #fcc203; padding: 15px;  width: 350px;" type = "text" name = "recipe[body]" placeholder = "description" required><br>
	<input style="margin-bottom:15px;border-radius:25px; border: 2px solid #fcc203; padding: 15px;  width: 350px;" type = "text" name = "recipe[ingredients]" placeholder = "Ingredients" required><br>
	<input style="margin-bottom:15px;border-radius:25px; border: 2px solid #fcc203; padding: 15px;  width: 350px;" type = "textarea" name = "recipe[procedure]" placeholder = "Procedure" required ><br>
	<button class = "btn btn-outline-warning">Submit</button>
	
</form>