.navbar-light .navbar-brand{
    margin-left: 440px;
    font-size: 60px;
    padding-top: 10px;
    font-weight: bolder;
}
.navbar-nav{
    margin-left: 220px;
   
}

.edit{
	float:left;
	width:80px;
}
li{
    margin-right: 30px;
    font-size: 20px;
}
hr{
    margin:0;
}

.carousel-item{
    height: 500px;
}
body{
    font-family: Courgette;
}

h1{
    font-family: italianno; 
}
p{
    font-family: Merienda;
}

button{
    height: 40px;
    
}

@media screen and (min-width: 601px) {
    .limit {
      font-size: 16px;
      margin-left: 200px;
    }
  }

@media screen and (max-width: 601px) {
    .limit {
      font-size: 10px;
     margin-left: 0px;
     padding-left: 0%;
    
    }
  }

  
  @media screen and (min-width: 500px) {
    .navbar-light .navbar-brand {
       
        text-align: center;
           border-top-left-radius: 20% 50%; 
          border-top-right-radius: 20% 50%;
         font-family:italianno ;
         font-size: 46px;
    }
}  
   
  @media screen and (max-width: 500px) {
    .navbar-light .navbar-brand {
       margin-left: 0;
       font-size: 50px;
    }
    
    .navbar-nav {
     text-align: left;
     margin-left: 100px;
    }
}

 
@media screen and (max-width: 500px) {
    #close {
    display: none;
    }
}
 