.navbar-light .navbar-brand{
    margin-left: 440px;
    font-size: 60px;
    padding-top: 10px;
    font-weight: bolder;
}
.navbar-nav{
    margin-left: 220px;	
}
a{
	color:#2d2e27;
}

.edit{
	float:left;
	width:80px;
	margin-bottom:50px;
}
li{
    margin-right: 30px;
    font-size: 20px;
}
hr{
    margin:0;
}

.carousel-item{
    height: 500px;
}
body{
    font-family: Courgette;
}

h1{
    font-family: italianno; 
}
p{
    font-family: Merienda;
}

button{
    height: 40px;
    
}

@media screen and (min-width: 601px) {
    .limit {
      font-size: 16px;
      margin-left: 200px;
    }
  }

@media screen and (max-width: 601px) {
    .limit {
      font-size: 10px;
     margin-left: 0px;
     padding-left: 0%;
    
    }
  }

  
  @media screen and (min-width: 500px) {
    .navbar-light .navbar-brand {
       
        text-align: center;
           border-top-left-radius: 20% 50%; 
          border-top-right-radius: 20% 50%;
         font-family:italianno ;
         font-size: 46px;
    }
}  
   
  @media screen and (max-width: 500px) {
    .navbar-light .navbar-brand {
       margin-left: 0;
       font-size: 50px;
    }
    
    .navbar-nav {
     text-align: left;
     margin-left: 100px;
    }
}

 
@media screen and (max-width: 500px) {
    #close {
    display: none;
    }
}

 
@media screen and (max-width: 500px) {
    .col-sm-12 {
   margin-left:0px;
    }
}
@media screen and (max-width: 500px) {
    .showimage {
		
 	width:250px;
	border-radius:10%;
		
		
    }
}
@media screen and (max-width: 500px) {
    .jumbotron{
	margin-left:0px;
		background-color: white;
    }
}
@media screen and (min-width: 500px) {
    .jumbotron{
	background-color:white;
		margin-left:110px;
    }
}


@media screen and (min-width: 500px) {
    .showimage {
		width:90%;
		border-radius:10%;
    }
}

@media screen and (min-width: 500px) {
	input{
		border-radius:25px;
		border: 2px solid #fcc203;
		padding: 15px; 
		width: 350px;
	}
}

@media screen and (max-width: 500px) {
	input{
		border-radius:25px;
		border: 2px solid #fcc203;
		padding: 20px; 
		width: 250px;
	}
}
@media screen and (max-width: 500px) {
	.less{
	
		margin-bottom: 15px;
		width: 100px;
		background: black;
		color: white;
		font-family:Merienda;
		margin-left:120px;
	}
}
@media screen and (min-width: 500px) {
	.less{
		margin:auto;
		margin-bottom: 15px;
		display: block;
		width: 100px;
		background: black;
		color: white;
		font-family:Merienda;
	}
}

@media screen and (min-width: 500px) {
	.landingimage{
		width:200px;
		border-radius:30%
	}
}

@media screen and (max-width: 500px) {
	.landingimage{
		width:200px;
		border-radius:30%;
			margin-left:70px;
	}
}
.checked{
	color:yellow;
}

@media screen and (max-width: 500px) {
	.landingtitle{
		margin-left:30px;
	}
}
	
  
